.box
  .logo
  .notify
  .form
    .inner
      .message
        | Log into your machine.
      .email
        .input_wrap
          input(type="text", value="username", autocorrect="off", autocapitalize="off")#login_username
      .password
        .input_wrap
          input(value="password", autocorrect="off", autocapitalize="off")#login_password