.box
  .message
    | Please login!
  .email
    input(type="text", value="your email", autocorrect="off", autocapitalize="off")
  .password
    input(value="your password", autocorrect="off", autocapitalize="off")
  .submit 
    | Login
    .shadow