@import 'nib'
@import './fonts'

//dark_gray = #2d2d2d
dark_blue = #1d2327
light_blue = #3e4a52
dark_gray = #1d2327
light_gray = #3e4a52
cream = #f6f6f4
teal = #37e8d7
teal_shadow = #31d0c1
teal_film = #effffb
teal_film_shadow = #e5f5f1


tan_gray = #babaae

body, html
  height 100%
  width 100%
  overflow hidden

body
  position relative
  font-family Brandon, helvetica, sans-serif
  min-width 960px
  min-height 500px
  font-size 16px

  ul
    list-style none
    margin 0
    padding 0

  .panel
    position absolute
    left 0
    top 0
    bottom 0
    width 200px
    background dark_blue

    .disbled
      opacity 0.15
      pointer-events none

    .logo
      position absolute 
      top 0
      left 0
      right 0
      height 75px
      background url('/images/lamassu-logo.png') 45% 50% no-repeat
      z-index 4

    .menu
      display none
      position absolute 
      top 75px
      left 0
      right 0
      bottom 75px
      background rgba(0,0,0,0.1)
      z-index 2
      overflow scroll

      ul
        color rgba(255,255,255,1)
        z-index 2
        cursor pointer
        list-style none
        margin 0
        padding 0
        
        li
          position relative
          height 50px
          width 100%
          border-top 1px solid rgba(0,0,0,0.3)
          //text-align center
          
          .text
            position absolute
            padding-left 50px
            padding-top 18px

          .icon
            position absolute
            top 23px
            left 23px
            width 5px
            height 5px

            border-radius 50%
            background teal

        li:hover
          color teal
          transition all 0.30s ease-in-out

        li:first-child
          border-top none

        li.selected
          color teal

    .display
      display none
      position absolute 
      bottom 0 
      height 75px
      left 0
      bottom 0
      right 0
      text-align center
      z-index 4

      .text
        color white
        font-size 10px
        position absolute 
        height 12px
        bottom 10px
        left 0px
        right 0
        text-transform uppercase
        letter-spacing 4px
        margin-right -4px

      .price
        color white
        position absolute
        font-size 28px
        right 0px
        left 0
        top 16px
        font-family Raleway
        color teal
        letter-spacing 2px

        .currency 
          position relative 
          top -3px
          font-size 17px
          left -2px

      .subtext
        color teal
        font-size 10px
        position absolute 
        height 12px
        bottom 32px
        left 0px
        right 0
        text-transform uppercase
        display none

        .currency
          position relative 
          top -1px
          font-size 8px
          left -2px



  .dash
    position absolute
    right 0
    top 0
    bottom 0
    left 200px
    background cream
    z-index 20

    .login
      position absolute 
      top 0
      left 0
      right 0
      bottom 0

      input, textarea
        transition all 0.30s ease-in-out
        outline none
        box-shadow inset 0 0 0px 1px rgba(55, 232, 215, 0)
       
      input:focus, textarea:focus
        box-shadow inset 0 0 0px 1px rgba(55, 232, 215, 1)

      .box
        width 320px
        height 180px
        position absolute 
        left 50%
        margin-left -160px
        top 50%
        margin-top -120px
        font-size 24px

        input
          display block
          border 0
          border-radius 0px
          margin 0
          padding 0
          text-align center
          font-size 24px
          color light_gray
          position absolute
          width 100% 
          top 0px
          left 0px
          right 0px
          bottom 3px

        .message
          position absolute 
          top 0
          left 0
          right 0
          color light_gray
          font-size 20px
          text-align center

        .email
          position absolute 
          top 40px
          left 0
          right 0
          height 53px
          background #f3f3f3
          box-shadow 0px 1px 1px rgba(0,0,0,0.2)

        .password
          position absolute 
          top 100px
          left 0
          right 0
          height 53px
          background #f3f3f3
          box-shadow 0px 1px 1px rgba(0,0,0,0.2)

        .submit
          position absolute 
          left 0
          right 0
          top 160px
          height 41px
          background teal
          color white
          text-align center
          padding-top 14px
          cursor pointer
          box-shadow 0px 1px 1px rgba(0,0,0,0.2)

        .shadow
          position absolute 
          bottom 0
          left 0
          right 0
          height 3px
          background teal_shadow

     
    .main
      position absolute 
      top 0
      right 0
      bottom 0
      left 0

      .links
        height 15px
        position absolute 
        right 28px
        top 20px
        left 0
        text-align right
        font-size 12px
        text-transform uppercase
        color rgba(0,0,0,0.6)
        font-weight bold

        li
          float right
          margin-left 25px
          cursor pointer

      .main_wrap
        position absolute
        top 50px
        left 20px
        bottom 20px
        right 20px
        color light_blue

        .main_title 
          position absolute
          font-size 20px
          top -35px
          left 5px
          color rgba(0,0,0,0.6)

        .card
          position absolute 
          top 0px
          bottom 0px
          left 0px
          right 0px
          background #f3f3f3
          box-shadow 0px 1px 1px rgba(0,0,0,0.2)
          font-style normal


          .input_wrap, .select_wrap
            width 100%
            position relative
            height 40px

            input
              appearance none
              width calc(100% - 12px)
              height calc(100% - 12px)
              border 1px solid tan_gray
              border-radius 5px
              background none
              padding 5px
              margin 0
              outline none

            select
              appearance none
              width 100%
              height 100%
              background url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iNDI0cHgiIGhlaWdodD0iNTQ1cHgiIHZpZXdCb3g9IjAgMCA0MjQgNTQ1IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA0MjQgNTQ1IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwb2x5Z29uIGZpbGw9IiNCQ0JFQzAiIHBvaW50cz0iOC4yNDQsMjMzLjc2NCAyMTMuNjkyLDcuMzQ0IDQxOS4xNCwyMzMuNzY0ICIvPg0KPHBvbHlnb24gZmlsbD0iI0JDQkVDMCIgcG9pbnRzPSI0MTkuMTQsMzEyLjQ4NyAyMTMuNjkxLDUzOC45MDYgOC4yNDQsMzEyLjQ4NyAiLz4NCjwvc3ZnPg0K") no-repeat calc(100% - 6px) 50%
              background-size 12px
              border-radius 5px
              border 0
              padding 5px
              border 1px solid tan_gray
              outline none

            input:focus, select:focus
              border 1px solid teal










          /*

          .input_style, .select_style
            width calc(100% - 4px)
            border none
            box-shadow none
            background transparent
            background-image none
            appearance none
            //padding 10px
            //margin 5px
            //outline none
            //display block
            border 2px solid tan_gray
            //border-radius 0px
            outline 0
            box-shadow none
            //font-size 14px
            //text-align center
            font-weight normal
            border-radius 3px
            font-family Brandon, helvetica, sans-serif
            font-size 18px
            appearance none

          input, select 
            width 100%
            height 100%

          input, textarea, select
            transition border 0.30s ease-in-out

          input:focus, textarea:focus, select:focus
            border 2px solid teal


          .select_style
            border-radius 3px
            overflow hidden
            background url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iNDI0cHgiIGhlaWdodD0iNTQ1cHgiIHZpZXdCb3g9IjAgMCA0MjQgNTQ1IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA0MjQgNTQ1IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwb2x5Z29uIGZpbGw9IiNCQ0JFQzAiIHBvaW50cz0iOC4yNDQsMjMzLjc2NCAyMTMuNjkyLDcuMzQ0IDQxOS4xNCwyMzMuNzY0ICIvPg0KPHBvbHlnb24gZmlsbD0iI0JDQkVDMCIgcG9pbnRzPSI0MTkuMTQsMzEyLjQ4NyAyMTMuNjkxLDUzOC45MDYgOC4yNDQsMzEyLjQ4NyAiLz4NCjwvc3ZnPg0K") no-repeat 90% 50%
            background-size 12px

            select
              //padding 5px 8px
              border none
              box-shadow none
              background transparent
              background-image none
              appearance none
          */


          .inner
            background white
            position absolute 
            top 0
            bottom 3px
            right 0
            left 0

            .top
              position absolute 
              top -50px
              left 0px
              right 0
              height 75px
              border-bottom 1px solid rgba(0,0,0,0.1)
              pointer-events none

            .mid
              position absolute 
              top 26px
              left 0
              right 0
              bottom 26px
              overflow scroll
              padding 25px

              .description
                min-height 100%
                float left
                overflow hidden
                width 30%

              .settings
                min-height 100%

                float right
                overflow hidden
                width calc(70% - 11px)
                border-left 1px solid rgba(0,0,0,0.1)
                padding-left 10px


                .limits //compliance 

                  ul

                    li 
                      width 100%
                      margin-bottom 10px
                      height 40px
                      position relative

                      .label
                        position absolute 
                        right calc(60% + 10px)
                        top 0
                        bottom 0
                        width 40%                       
                        padding-top 5px
                        font-size 20px
                        text-align right

                      .limit
                        position absolute 
                        right calc(40% + 10px)
                        top 0
                        bottom 0
                        width calc(20% - 10px)

                        input 
                          text-align right

                        .currency
                          position absolute 
                          top 9px
                          left 6px


                      .verify_type
                        position absolute 
                        right 0
                        top 0
                        bottom 0
                        width 40%

                .verify_service
                  position relative 
                  margin-top 50px
                  height 140px

                  input
                    text-align center

                  .label
                    position absolute 
                    top 0
                    bottom 0
                    width 40%                       
                    padding-top 5px
                    font-size 20px
                    right calc(60% + 10px)
                    text-align right

                  .service
                    position absolute 
                    right 0
                    width 60%
                  .username
                    position absolute 
                    top 50px
                    right 0
                    width 60%

                  .password
                    position absolute 
                    top 100px
                    right 0
                    width 60%



            .bot
              position absolute 
              bottom 0
              left 0
              right 0
              height 25px
              border-top 1px solid rgba(0,0,0,0.1)

