@font-face
  font-family LeagueGothic
  font-style normal
  src url('/fonts/LeagueGothic-Regular.otf')

@font-face
  font-family Ostrich
  font-style normal
  src url('/fonts/OstrichSans-Medium.otf')

@font-face
  font-family Raleway
  font-style normal
  src url('/fonts/RalewayThin.otf')



