.inner

  .top
    .title Trading

  .mid

    div You can link your ATM to a trading account here.
    br
    div Linking a trading account allows the ATM to autmatically refill your wallet when it's running low. 
    br
    div You will be able to view stats including recent buy order and settings for when to create buy orders here. 

  .bot
    .save 
      .text save
      .shadow