.inner

  .top
    .title Notifications

  .mid
    div Here you will see an in-depth view of the notificaions from your ATM.
    br
    div This is also where you can contol how and where you get sent these notification.
    br
    div You can have them delivered via email or sms in addition to viewing them in the dashboard.


  .bot