.inner

  .top
    .title Dashboard

  .mid
    div This is where you will see a snap shot of all the activity and data related to your ATM.
    br
    div This will include notifications, recent events, price, limits, wallet balance and more. 


  .bot






