.inner

  .top
    .title Wallet

  .mid

    div This is where you can set the wallet that your ATM uses.
    br
    div Your wallet is the source of Bitcoins you sell through the ATM.
    br
    div You will be able to view stats about your wallet here, including balance. 

  .bot
    .save 
      .text save
      .shadow