.main_title Compliance

.card
  .inner

    .top

    .mid
      .description description
      .settings

        .limits

          ul
            li.base
              .label Base Limit
              .limit
                input
              .verify_type
                select
                  option(value="drivers_license") Driver's License
                  option(value="smartphone") Smartphone

            li.extended
              .label Extended Limit
              .limit
                input
              .verify_type
                select
                  option(value="drivers_license") Driver's License
                  option(value="smartphone") Smartphone
            
            li.maximum
              .label Max Limit
              .limit
                input


        .verify_service
          .label Verification Service
          .service
            select
              option(value="idology") iDology
          .username
            input
          .password
            input

        .save save


    .bot

