.card

  .inner

    .top
      .main_title Compliance

    .mid.scroller
      .description 
        .description_title Set transaction limits
        .description_body You can set a maximum transaction limit for your ATMs.
      .settings

        .limits

          ul
            li.maximum
              .label Max Limit
              .limit.input_wrap
                input#max_limit

    .bot

