.card

  .inner

    .top
      .main_title Pairing

    .mid
      .description
        .description_title Set your wallet settings
        .description_body Scan this QR code:
      .settings

    .bot

