.card

  .inner

    .top
      .main_title Pairing

    .mid
      .description
        .description_title Pair your ATM
        .description_body Present this QR code to your ATM while in pairing mode to pair it with this Lamassu installation.

      .settings
        #qr-code

    .bot

