
.card

  .inner

    .top
      .main_title Price


    .mid.scroller
      .description
        .description_title Set display price
        .description_body Pick a source then you can add your commission on top. 
      .settings
        ul
          li
            .label Price Source
            .select_wrap
              select#price_provider
                option(value="bitstamp") BitStamp
                option(value="bitpay") BitPay
        .current_price 
          | The current price is 
          span.value ---.--
          | .
        ul
          li
            .label Custom Source
            .input_wrap
              input#price_custom_url
          li
            .label Commission
            .input_wrap
              input#price_commission
              .percent_symbol %
    .bot
      .price_overview

        | Display Price: 
        span.value ---.--


