.main_title Trading

.form

  .top
    .inner
      .title Your Current Trade Account Settings

  .preview
    .inner
      ul
        li
          .key provider
          .value
        li
          .key id
          .value
        li
          .key api key
          .value 
        li
          .key secret
          .value 

  .description Update your trade account settings below.

  .mid
    .inner
      ul
        li
          input.provider(value="BitStamp")
        li
          input.id(placeholder="Client ID")
        li
          input.api_key(placeholder="API Key")
        li
          input.secret(placeholder="Secret")
  .save
    .inner
      .save_text save