.main_title Trading

.form

  .top
    .inner
      .title Your Trade Account Settings

  .preview
    .inner
      ul
        li
          .key provider
          .value bitstamp
        li
          .key id
          .value none
        li
          .key api key
          .value none
        li
          .key secret
          .value none

  .description Update your trade account settings below.

  .mid
    .inner
      ul
        li
          input.provider(value="bitstamp")
        li
          input.id(placeholder="id")
        li
          input.api_key(placeholder="api key")
        li
          input.secret(placeholder="secret")
  .save
    .inner
      .save_text save