.main_title Wallet

.form

  .top
    .inner
      .title Your Wallet Settings

  .preview
    .inner
      ul
        li
          .key provider
          .value blockchain.info
        li
          .key GUID
          .value none set
        li
          .key Password
          .value none set
        li
          .key From Address
          .value  none set

  .description Update your wallet settings below.


  .mid
    .inner
      ul
        li
          input.provider(value="blockchain.info")
        li
          input.guid(placeholder="guid")
        li
          input.password(placeholder="password")
        li
          input.from_address(placeholder="from_address")

  .save
    .inner
      .save_text save






