.main_title Wallet

.form

  .top
    .inner
      .title Your Current Wallet Settings

  .preview
    .inner
      ul
        li
          .key provider
          .value
        li
          .key GUID
          .value
        li
          .key Password
          .value
        li
          .key From Address
          .value

  .description Update your wallet settings below.


  .mid
    .inner
      ul
        li
          input.provider(value="blockchain")
        li
          input.guid(placeholder="GUID")
        li
          input.password(placeholder="Password")
        li
          input.from_address(placeholder="From Address")

  .save
    .inner
      .save_text save






