.main_title Wallet

.card

  .inner

    .top

    .mid
      .description description
      .settings        
        ul
          li
            .label Provider
            .select_wrap
              select#wallet_provider
                option(value="blockchain") Blockchain.info
          li
            .label GUID
            .input_wrap
              input#wallet_guid
          li
            .label Password
            .input_wrap
              input#wallet_password
          li
            .label From Address
            .input_wrap
              input#wallet_from_address



    .bot

