<!-- Exchanges -->
<div id='page-exchanges' class='page main  panel' role='main'>
  <div class='panel__header'>
    <div class='block'>
      <div class='copy'>
        <div>
          <h2 class='panel__header__title'>Exchanges</h2>
        </div>
      </div>
    </div>
  </div>
  <div class='block'>
    <form action='#' method='post'>

      <article class='module' id='exchanges-ticker'>
      <div class='copy'>
        <h1 class='as-h4'>Price Ticker</h1>
      </div>
      <div class='grid grid--form grid--form--offset cf'>
        <div class='grid__unit'>
          <div class='copy'>
            <p>Your Bitcoin price feed.</p>
          </div>
        </div>
        <div class='grid__unit grid__unit--fields'>
          <ul class='form-fields form-fields--multi'>
            <li>
            <div class='flag flag--form-field flag--form-field--bg'>
              <div class='flag__body'>
                <div class='grid grid--form-fields cf'>
                  <div class='grid__unit'>
                    <div class='form-field-wrap'>
                      <select nid="ticker" name="ticker" ng-model="config.feed">
                        <option value="bitpay">Bitpay</option>
                        <option value="mtgox">Mt. Gox</option>
                        <option value="bitstamp">Bitstamp</option>
                        <option value="custom">Custom</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </li>

          </ul>
        </div>
      </div>
      </article>

      <article class='module' id='exchanges-trade'>
      <div class='copy'>
        <h1 class='as-h4'>Trading Exchange <span class="optional">(optional)</span></h1>
      </div>
      <div class='grid grid--form grid--form--offset cf'>
        <div class='grid__unit'>
          <div class='copy'>
            <p>Your Bitcoin exchange, for buying bitcoins to cover sales.</p>
          </div>
        </div>
        <div class='grid__unit grid__unit--fields'>
          <ul class='form-fields form-fields--multi'>
            <li>
            <div class='flag flag--form-field flag--form-field--bg'>
              <div class='flag__body'>
                <div class='grid grid--form-fields cf'>
                  <div class='grid__unit'>
                    <div class='form-field-wrap'>
                      <select id="exchange" name="exchange">
                        <option value="bitstamp">bitstamp</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </li>
            <li>
            <div class='flag flag--form-field flag--form-field--bg'>
              <div class='flag__body'>
                <div class='grid grid--form-fields cf'>
                  <div class='grid__unit full-width'>
                    <div class='form-field-wrap'>
                      <input type="text" id="exchange_custId" name="exchange_custId" placeholder="Customer ID" ng-model="config.exchange.customerId" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </li>
            <li>
            <div class='flag flag--form-field flag--form-field--bg'>
              <div class='flag__body'>
                <div class='grid grid--form-fields cf'>
                  <div class='grid__unit full-width'>
                    <div class='form-field-wrap'>
                      <input type="text" id="exchange_apiKey" name="exchange_apiKey" placeholder="API Key" ng-model="config.exchange.apiKey"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </li>
            <li>
            <div class='flag flag--form-field flag--form-field--bg'>
              <div class='flag__body'>
                <div class='grid grid--form-fields cf'>
                  <div class='grid__unit full-width'>
                    <div class='form-field-wrap'>
                      <input type="password" id="exchange_secret" name="exchange_secret" placeholder="Secret" ng-model="config.exchange.secret" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </li>

          </ul>
        </div>
      </div>
      </article>

      <article class='module' id='exchanges-transfer'>
      <div class='copy'>
        <h1 class='as-h4'>Bitcoin Wallet</h1>
      </div>
      <div class='grid grid--form grid--form--offset cf'>
        <div class='grid__unit'>
          <div class='copy'>
            <p>Bitcoin reserve, for sending bitcoins to end user.</p>
          </div>
        </div>
        <div class='grid__unit grid__unit--fields'>
          <ul class='form-fields form-fields--multi'>

            <li>
            <div class='flag flag--form-field flag--form-field--bg'>
              <div class='flag__body'>
                <div class='grid grid--form-fields cf'>
                  <div class='grid__unit'>
                    <div class='form-field-wrap'>
                      <select id="wallet" name="wallet" ng-model="config.wallet.service">
                        <option value="blockchain.info">Blockchain.info</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </li>
            <li>
            <div class='flag flag--form-field flag--form-field--bg'>
              <div class='flag__body'>
                <div class='grid grid--form-fields cf'>
                  <div class='grid__unit full-width'>
                    <div class='form-field-wrap'>
                      <input type="text" id="wallet_guid" name="wallet_guid" 
                        placeholder="Guid" ng-model="config.wallet.guid" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </li>
            <li>
            <div class='flag flag--form-field flag--form-field--bg'>
              <div class='flag__body'>
                <div class='grid grid--form-fields cf'>
                  <div class='grid__unit full-width'>
                    <div class='form-field-wrap'>
                      <input type="password" id="wallet_password" name="wallet_password" 
                        placeholder="Password" ng-model="config.wallet.password" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </li>
            <li>
            <div class='flag flag--form-field flag--form-field--bg'>
              <div class='flag__body'>
                <div class='grid grid--form-fields cf'>
                  <div class='grid__unit full-width'>
                    <div class='form-field-wrap'>
                      <input type="text" id="wallet_fromAddress" name="wallet_fromAddress" 
                        placeholder="From Address" ng-model="config.wallet.fromAddress"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </li>

          </ul>
        </div>
      </div>
      </article>

    </form>
  </div>
</div>
