<h3>Set your exchange methods</h3>
<p>You can set up to three different methods in order of priority.</p>

<form action="#" method="post">
  <div class="method">
    <label for="method_1_type">1</label>
    
    <select id="method_1_type" name="method_1_type">
      <option value="MtGox">Mt.Gox</option>
      <option value="Paypal">Paypal</option>
      <option value="BitPay">BitPay</option>
    </select>

    <input id="method_1_key" name="method_1_key" placeholder="API Key">
  </div>

  <div class="method">
    <label for="method_2_type">2</label>
    
    <select id="method_2_type" name="method_1_type">
      <option value="MtGox">Mt.Gox</option>
      <option value="Paypal">Paypal</option>
      <option value="BitPay">BitPay</option>
    </select>

    <input id="method_2_key" name="method_2_key" placeholder="API Key">
  </div>

  <div class="method">
    <label for="method_3_type">3</label>
    
    <select id="method_3_type" name="method_1_type">
      <option value="MtGox">Mt.Gox</option>
      <option value="Paypal">Paypal</option>
      <option value="BitPay">BitPay</option>
    </select>

    <input id="method_3_key" name="method_3_key" placeholder="API Key">
  </div>

</form>
