<div class="panel-header">
  <h2>Login</h2>
</div>
<div class="panel-content">
  <form name="loginForm" role="form" ng-submit="login(credentials)" novalidate>
    <article class="module">
    <div class="form-field-wrap">
      <input type="email" class="form-control" placeholder="Email" ng-model="credentials.email" required>
    </div>
    </article>
    <article class="module">
    <div class="form-field-wrap">
      <input type="password" class="form-control" placeholder="Password" ng-model="credentials.password" required>
    </div>
    </article>
    <div class="form-field-wrap text-centered">
      <button type="submit" class="btn btn-primary btn-block">Log In</button>
    </div>
  </form>
</div>

